iframe[id="vantiv-payframe"] {
    height: 380px
}
*:before,
*:after {
    box-sizing: border-box
}
body {
    color: #333;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 1.125rem;
    line-height: 1.5rem;
    margin: 0;
    padding: 0
}
label {
    width: 100%;
    margin-bottom: 8px;
    float: left;
    display: block;
    font-weight: 700;
    max-width: 100%
}
input,
select {
    max-width: 100%;
    width: 100%;
    float: left;
    padding: 0.3em;
    border: 1px solid #808080;
    border-radius: 4px;
    box-shadow: inset 0px 2px 4px -1px rgba(98, 98, 98, 0.2);
    display: block;
    font-size: 1.125rem;
    height: 40px;
    line-height: 1.5rem;
    margin-bottom: 15px
}
select[name="expMonth"] {
    margin-bottom: 8px
}
.error {
    color: #a94442
}
.error input, :invalid input {
    border-color: #a94442;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset
}
option {
    color: #000000;
    opacity: 1
}
* {
    box-sizing: border-box
}
input::-moz-placeholder {
    color: #999;
    opacity: 1
}
#numberDiv.error-872:after {
    content: "Please Re-Enter Your Account Number.";
    font-weight: normal;
    font-style: italic;
    color: #df2241;
    font-size: 0.875rem
}
#expDividerText {
    display: none
}
#expMonthDiv select {
    margin-bottom: 16px
}
#expDateLabelText {
    visibility: hidden
}
#expDateLabelBefore:after {
    content: "Expiration Date"
}
.positionNumberDiv {
    width: 55%
}
.positionCvvDiv {
    position: absolute;
    top: 0;
    right: 0;
    width: 40%
}
input#cvv {
    width: 55%
}
#accountNumberLabelText {
    text-transform: capitalize
}
#cvvLabelText {
    text-transform: capitalize
}
#numberDiv.error-881:after {
    font-weight: normal;
    font-style: italic;
    font-size: 0.875rem;
    display: block;
    content: "Card validation num not numeric"
}
#cvvDiv.error-882:after {
    font-weight: normal;
    font-style: italic;
    font-size: 0.875rem;
    display: block;
    content: "Please Re-Enter Security Code"
}
#cvvDiv.error-883:after {
    font-weight: normal;
    font-style: italic;
    font-size: 0.875rem;
    display: block;
    content: "Card validation num too long"
}
#numberDiv.error-873:after {
    font-weight: normal;
    font-style: italic;
    font-size: 0.875rem;
    display: block;
    content: "Account number too long."
}
#numberDiv.error-874:after {
    font-weight: normal;
    font-style: italic;
    font-size: 0.875rem;
    display: block;
    content: "Account number not numeric."
}
#numberDiv.error-876:after {
    font-weight: normal;
    font-style: italic;
    font-size: 0.875rem;
    display: block;
    content: "Account number invalid."
}
#numberDiv.error-871:after {
    font-weight: normal;
    font-style: italic;
    font-size: 0.875rem;
    display: block;
    content: "Account number not mod10."
}
.error input {
    border-color: #df2241;
    margin-bottom: 0;
    background-color: #ffe6e8
}
.error {
    color: #df2241
}
.expDateDiv label {
    margin-top: 20px
}

/* Additional Error, Validation, & Input Style
–––––––––––––––––––––––––––––––––––––––––––––––––– */
input[type="text"]:focus, input[type="password"]:focus, input[type="tel"]:focus, input[type="search"]:focus, input[type="email"]:focus, input[type="number"]:focus, input[type="date"]:focus, input[type="time"]:focus, textarea:focus, select:focus {
    box-shadow: 0px 0px 5px 0px rgba(98,98,98,0.75);
    outline: none;
    border-color: #1abc8b; }
input[type="text"].invalid,select.invalid {
    border-color: #a94442 }
input[type="text"].valid, select.valid {
    border-color: #148f6a; }
#accountNumberLabelText.valid:after,
#expDateLabelText.valid:after,
#cvvLabelText.valid:after {
  font-family: FontAwesome;
   content: "\f058";
   color: #148f6a;
   padding-left: .5em; }
#accountNumberLabelText.invalid:after,
#expDateLabelText.invalid:after,
#cvvLabelText.invalid:after {
  font-family: FontAwesome;
   content: "\f057";
   color: #df2241;
   padding-left: .5em; }
label.valid:after {
   font-family: FontAwesome;
   content: "\f058";
   padding-left: .5em;
   color:#148f6a;}
label.invalid:after {
   font-family: FontAwesome;
   content: "\f057";
   padding-left: .5em;
   color:#df2241;}


/* Tooltip
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.tooltip {
    position: relative;
    display: inline-block;
    text-decoration: none;}
.tooltip .tooltiptext {
    visibility: hidden;
    display: none;
    font-family: "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
    background: #fcfcfc;
	border: 1px solid #ccc;
    color: #222;
    text-align: center;
    border-radius: 2px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    top: 100%;
    left: 5px;
    width: 300px;
    margin-left: -150px;
    opacity: 0;
    transition: opacity 1s}
.tooltip .tooltiptext img {
    display: inline-block;
    max-width: 45%;}
.tooltip .tooltiptext::after {    /* Tooltip arrow */
    content: "";
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #ccc transparent transparent transparent;}    
.tooltip:hover .tooltiptext {
    visibility: visible;
    display: unset;
    display: block;
    opacity: 1;}
#numTip.tooltip:hover .tooltiptext:before {
    content:"CSS content text for card number:";}
#expTip.tooltip:hover .tooltiptext:before {
    content:"CSS content text for expiration date"}
#cvcTip.tooltip:hover .tooltiptext:before {
    display: block;  
    content:"Your tool tip content here! Idealy, this should be short and sweet"}

/* Modals
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/*
Note: To remove modal functionality add "display:none;" to the class modals.
To add modal functionality remove "display:none;" from class modals
*/

.modals{
  /* To remove modal functionality add "display:none;" to the class modals" */
  /* To add modal functionality remove "display:none;" from class modals*/
  /*display: none; */
}
#accountnumberModal:before{
  content: "If you are using a Prepaid or Reloadable Credit Card, your Financial Institution may place an additional 15-25% authorization hold on restaurant purchases to cover anticipated tip amount. For questions about your specific card, please call the customer service number located on your card. If your order total, any included tip amount, and the additional 15-25% authorization hold exceeds the amount of funds available on the Prepaid or Reloadable card, your card may be declined. Once your purchase is complete, you will be charged the amount of the purchase plus any tip amount that you may have added. Your Financial Institution will remove the hold that included the 15-25% additional amount. Removal of the hold could take 3-30 business days depending on the financial institution.";}
#expDateModal:before{
  content: "CSS content text for expiration date";}
#cvvModal:before{
  content: "American Express – The card verification number is the 4 digit code located on the front of your card above your credit card number. MasterCard, VISA & Discover – The card verification number is the last 3 digits of the number located on the back of your card next to your signature.";}
.blocker {
  position: fixed;
  top: 0; right: 0; bottom: 0; left: 0;
  width: 100%; height: 100%;
  overflow: auto;
  z-index: 1;
  padding: 20px;
  box-sizing: border-box;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.55);
  text-align: center;}
.blocker:before{
  content: "";
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -0.05em;}
.blocker.behind {
  background-color: transparent;}
.modal {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  font-size: 12px;
  line-height: normal;
  z-index: 2;
  max-width: 500px;
  box-sizing: border-box;
  width: 90%;
  max-height: 300px;
  background: #fff;
  padding: 15px 30px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -o-border-radius: 8px;
  -ms-border-radius: 8px;
  border-radius: 8px;
  -webkit-box-shadow: 0 0 5px #000;
  -moz-box-shadow: 0 0 5px #000;
  -o-box-shadow: 0 0 5px #000;
  -ms-box-shadow: 0 0 5px #000;
  box-shadow: 0 0 5px #000;
  text-align: left;}
.modal a.close-modal {
  position: absolute;
  top: -2px;
  right: 5px;
  display: block;
  text-decoration: none;
  font-weight: 600;}
.modal a.close-modal:after {
  padding-left: .5em;
  content: "\f057";
  font-family: FontAwesome;}

     /* Icons and Misc
–––––––––––––––––––––––––––––––––––––––––––––––––– */ 
  #ccicon {
    position: absolute;
    right: 46%;
    top: 11%;
  }

    /* Images
–––––––––––––––––––––––––––––––––––––––––––––––––– */

img {
width: auto\9;
height: auto;
width: 100%;
max-width: 150px;
vertical-align: middle;
border: 0;
-ms-interpolation-mode: bicubic;}    